---
import { Image } from "astro:assets";

const {name, logo, uri,duration,  image, designation} = Astro.props;

---
<div class="text-white border duration-300 hover:-rotate-0 -rotate-12 group overflow-hidden rounded-2xl h-52 w-72 bg p-5 flex flex-col items-start gap-4">
         <div class=" w-full">
            <span class="font-bold text-3xl">{name}</span>
            <p class="text-white text-xs">{designation}</p>
         </div>

         <span
            class="duration-300 hover:bg-black border hover:text-gray-50 bg-gray-50 font-semibold text-sky-800 px-3 py-2 flex flex-row items-center gap-3"
         >
           {duration}
         </span>

         <div class="group-hover:scale-125 duration-200 absolute bottom-2 right-2 w-[110px] z-5 rounded-full">
            <Image

               src={logo}
               alt={name}
               width={200}
               height={200}

               class="rounded-full"
            />
           
         </div>
</div>