---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

import BaseLayout from "./base-layout.astro";

type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
---

<BaseLayout title={post.data.title}>
  <main class="p-6 max-w-screen-lg mx-auto">
    <div class="pb-8">
      <h1 class="font-bold text-5xl pb-4">{post.data.title}</h1>
      <p>Written by - {post.data.author}</p>
      <p>
        Published on - {new Date(post.data.pubDate.slice(0, 10)).toDateString()}
      </p>

      <p><em>{post.data.description}</em></p>

      <div
        class="bg-gray-100 w-full rounded-lg h-96 aspect-video overflow-hidden my-4"
      >
        <Image
          src={post.data.image.url}
          alt={post.data.image.alt}
          width={1024}
          height={384}
        />
      </div>
    </div>

    <div>
      <slot />
    </div>
  </main>
</BaseLayout>
