---
import dayjs from "dayjs";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

import "../styles/global.css";

type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{post.data.title}</title>
  </head>

  <body class="bg-[rgb(18,18,18)]">
    <div class="px-4 max-w-screen-lg mx-auto">
      <header class="py-6">
        <nav>
          <ul>
            <li>
              <a href="/" class="text-neutral-100 text-lg">Amit Prakash</a>
            </li>
          </ul>
        </nav>
      </header>

      <main class="text-neutral-50 py-10">
        <div class="pb-8">
          <h1 class="font-bold text-4xl md:text-5xl pb-4">{post.data.title}</h1>
          <p>
            {dayjs(post.data.pubDate).format("DD MMMM YYYY")}
          </p>

          <div
            class="bg-gray-100 w-full rounded-lg h-96 aspect-video overflow-hidden my-4"
          >
            <Image
              src={post.data.image.url}
              alt={post.data.image.alt}
              width={1024}
              height={384}
            />
          </div>
        </div>

        <div>
          <slot />
        </div>
      </main>
    </div>
  </body>
</html>
